@-webkit-keyframes fade-subtle {
    30% {
	opacity: 1;
    }
    50% {
	opacity: 0.55;
    }
    100% {
	opacity: 1;
    }
}

@keyframes fade-subtle {
    30% {
	opacity: 1;
    }
    50% {
	opacity: 0.55;
    }
    100% {
	opacity: 1;
    }
}

@-webkit-keyframes fade-full {
    0% {
        opacity: 0.25;
    }
    33% {
        opacity: 0.45;
    }
    50% {
	opacity: 0.9
    }
    66% {
        opacity: 0.45;
    }
    100% {
        opacity: 0.25;
    }
}

@keyframes fade-full {
    0% {
        opacity: 0.25;
    }
    33% {
        opacity: 0.45;
    }
    50% {
	opacity: 0.9
    }
    66% {
        opacity: 0.45;
    }
    100% {
        opacity: 0.25;
    }
}

#logo {
    font-family: Courier New, Courier, monospace;
    font-size: 1.3em;
}

div.line {
    overflow:  hidden;
}

div.pixel, div.pixel-fade, div.pixel-empty {
    font-weight: bolder;
    font-size:   1.3em;
    float:       left;
    width:       0.57em;
    margin:     -0.27em 0em;
    opacity:     0.93;
    color:      #101040;
    /* todo: animate static chars */
}

div.pixel-fade {
    font-weight: bold;
    -webkit-animation: fade-full 8s forwards ease infinite;
    animation:         fade-full 8s forwards ease infinite;
/*    background:        linear-gradient(130deg, #DDAAAA 15%, #AA8585); */
    color: #555515;
}

div.pixel:nth-of-type(odd) {
    -webkit-animation: fade-subtle 5s forwards linear infinite;
    animation: fade-subtle 5s forwards linear infinite;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
}

div.pixel:nth-of-type(even) {
    -webkit-animation: fade-subtle 8s forwards linear infinite;
    animation: fade-subtle 8s forwards linear infinite;
}

div.pixel-fade:nth-of-type(odd) {
    -webkit-animation-delay:    -2.4s;
    animation-delay:            -2.4s;
    -webkit-animation-duration: 12s;
    animation-duration:         12s;
}

div.pixel-fade:nth-of-type(even) {
    -webkit-animation-delay:     0.5s;
    animation-delay:             0.5s;
    -webkit-animation-duration: 17s;
    animation-duration:         17s;
}

div.pixel:hover, div.pixel-fade:hover, div.pixel:active, div.pixel-fade:active {
    opacity:           0.9;
/*    background:        linear-gradient(130deg, #DDDD15 15%, #AAAA15); */
    color: #DD1515;
    -webkit-animation: none;
    animation:         none;
}
