@-webkit-keyframes blink {
    0% {
	opacity: 0;
    }
    49% {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
    99 % {
	opacity: 1;
    }
}

@keyframes blink {
    0% {
	opacity: 0;
    }
    49% {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
    99 % {
	opacity: 1;
    }
}

@font-face {
    font-family: NotCourier;
    src: url(/font/not-courier-sans.woff);

}

html {
    font-family: Courier New, monospace;
    font-size: 1.2em;

    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.6em;
    border-bottom: 0.07em dashed black;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    clear: both;
}

h2 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    /* text-decoration: underline; */
    font-weight: bold;
    clear: both;
}

h3 {
    margin-bottom: 0.1em;
}

p {
    margin-top: 0;
    font-family: NotCourier;
    letter-spacing: -0.042em;
    word-spacing: -0.12em;
    line-height: 1em;
}

code {
    font-size: 1em;
    font-family: Courier, monospace;
}

pre code {
    border: 0.1em dashed black;    
    display: block;
    background-color: #EFEFEF;
    color: black;
    padding: 0.5em;
}

p.disclaimer {
    max-width: 48em;
    text-align: center;
    font-style: oblique;
    margin-top: 1em;
    padding: 0 1em;
    border: 0.1em dashed black;
}

blockquote {
    font-size: 1.3em;
    font-style: oblique;
 
}

cite {
    font-size: 0.6em;
    font-style: normal;
    margin-left: 1.5em;
}

span.metadata {
    font-style: oblique;
}

figure {
    float: left;
    margin: 1em;
}

img {
    margin: 0 1.5em;
    border: 0.1em dashed black;
    float: left;
}

figure p {
    margin: 0.1em 0;
    float: left;
}

figcaption p {
    float: none;
}

figcaption {
    text-align: center;
    font-style: oblique;
}

#top {
    width: 51em; /* make sure the logo min-width fits into this */
}

#menu ul {
    font-size: 1.75em;
    padding: 0;
    margin: 0;
}

/* TODO: content area with min height */

#menu li {
    display: inline;
    padding-right: 0.5em;
}

#menu a, #menu a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #AA1515;
}

#menu a:hover {
    color: #451010;
}

ul.blogs, ul.thumbs, ul.tags, ul.tags-v  {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

ul {
    list-style-type: circle;
}

ul.blogs li, ul.tags li, ul.tags-v li {

    margin-bottom: 0.3em;
    white-space: nowrap;
}

ul.tags, ul.tags-v {
    border: 0.1em solid black;
    text-align: justify;
}

ul.tags-v {
    border: none;
    float: left;
    min-width: 10em;
    padding: 0 0.5em;
}

ul.tags li {
    display: inline;
    margin: 0.5em;

}

div.project-thumb {
    font-family: Courier, monospace;
    text-align: center;
    margin: 1em 0.2em;
    padding: 0.5em;
    display: inline;
    float: left;
    height: 9em;
}

div.project-thumb span.title a {
    font-size: 1.2em;
}

div.project-thumb pre.ascii {
    text-align: center;
    margin: 0.5em;
}

div.project-thumb div.status {
    
}

div.project-thumb div.bar {
    font-weight: bold;
    font-size: 0.9em;
}

div.bar span.level-low {
    color: #BBBBDD;
}

div.bar span.level-mid {
    color: #9090AA;
}

div.bar span.level-high {
    color: #4040AA;
}

div.bar span.level-done {
    color: black;
}

div.project-thumb a, div.project-thumb a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

div.thumbnail {
    float: left;
    border: 0.15em dashed white;
    margin: 0.5em 0.5em;
    padding: 0.8em;
    height: 6.5em;
    background: linear-gradient(160deg, rgba(90, 90, 90, 1) 15%, rgba(20, 20, 20, 1));
    text-align: center;
}

div.thumbnail a, div.thumbnail a:visited, div.thumbnail a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div.thumbnail pre.ascii-thumb {
    padding: 0;
    margin: 0;
    height: 90%;
}

div.clearboth {
    clear: both;
}

footer {
    float: left;
    font-size: 0.8em;
    max-width: 40em; /* make sure the logo min-width fits into this */
}



footer div {
    clear: both;
    float: left;
    margin: 0.1em 0;
}

footer div.cursor {
    float: left;
    width:   1ex;
    height:  1em;
    background-color: black;
    -webkit-animation: blink 1s forwards linear infinite;
    animation: blink 1s forwards linear infinite;
}

#social ul {
    padding: 0;
    margin: 0;
}

#social li {
    display: inline;
}

#footspace {
    margin: 3em 0 0 0;
}
