@-webkit-keyframes blink {
    0% {
	opacity: 0;
    }
    49% {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
    99 % {
	opacity: 1;
    }
}

@keyframes blink {
    0% {
	opacity: 0;
    }
    49% {
	opacity: 0;
    }
    50% {
	opacity: 1;
    }
    99 % {
	opacity: 1;
    }
}

html {
    font-family: Courier, monospace;
    margin: 0;
    padding: 0;
}

#top {
    width: 35em; /* make sure the logo min-width fits into this */
    font-size: 1.5em;
}


#menu ul {
    font-size: 1.4em;
    padding: 0;
    margin: 0;
}

/* TODO: content area with min height */

#menu li {
    display: inline;
    padding-right: 0.5em;
}

#menu a, #menu a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #251010;
}

#menu a:hover {
    color: #DD1515;
}

ul.blogs, ul.thumbs  {
    list-style-type: none;
}

div.thumbnail {
    float: left;
    border: 0.15em dashed white;
    margin: 0.5em 0.5em;
    padding: 0.5em;
    background: linear-gradient(160deg, rgba(90, 90, 90, 1) 15%, rgba(20, 20, 20, 1));
}

div.thumbnail a, div.thumbnail a:visited, div.thumbnail a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div.thumbnail pre.ascii-thumb {
    padding: 0;
    margin: 0;
    text-align: center;
    /* todo: class of pre */
    /* todo: center */
}

div.clearboth {
    clear: both;
}

footer {
    float: left;
    font-size: 0.8em;
    max-width: 40em; /* make sure the logo min-width fits into this */
}

footer div {
    clear: both;
    float: left;
    margin: 0.1em 0;
}

footer div.cursor {
    float: left;
    width:   1ex;
    height:  1em;
    background-color: black;
    -webkit-animation: blink 1s forwards linear infinite;
    animation: blink 1s forwards linear infinite;
}

#social ul {
    padding: 0;
    margin: 0;
}

#social li {
    display: inline;
}

#footspace {
    margin: 3em 0 0 0;
}
