<!DOCTYPE html>
{{ partial "head.html" . }}
<body>
  {{ partial "top.html" . }}
  <h1>{{ title .Title }}</h1>
  <span class="metadata">{{ .Params.author }} @ {{ .Date.Format "2006-01-02 15:04" }}</span>
  <p>{{ .Content }}</p>
  {{ partial "tags.html" . }}
  <h1>Related projects:</h1>
  {{ $blog := . }}
  {{ range where .Site.Recent "Section" "project" }}
    {{ $proj := . }}
    {{ range $blog.Params.projects }}
  <ul class="blogs">
      {{ if eq . $proj.Params.project }}
        {{ $proj.Render "li" }}
      {{ end }}
    {{ end }}
  </ul>
  {{ end }}
  {{ partial "foot.html" . }}
</body>
