<div id="logo">
  <div class="line">
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
  </div>
  <div class="line">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
  </div>
  <div class="line">
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel-fade"></div>
    <div class="pixel"></div>
    <div class="pixel"></div>
  </div>
</div>
