<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
  {{ .Inner }}
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink"}}<br/>src: <a href="{{.}}">{{ end }}{{ .Get "attr" }}{{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>

<div class="clearboth"></div>
