<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "top.html" . }}
    <h1>&#36;&#062; proj -running</h1>
    <ul class="thumbs">
      {{ range .Data.Pages.ByDate.Reverse }}
      {{ if lt .Params.progress 100 }}
        {{ if gt .Params.progress 5 }}
          <li>{{ .Render "thumb" }}</li>
        {{ end }}
      {{ end }}
      {{ end }}
    </ul>
    <h1>&#36;&#062; proj -queued</h1>
    <ul class="thumbs">
      {{ range .Data.Pages.ByDate.Reverse }}
      {{ if lt .Params.progress 5 }}
      <li>{{ .Render "thumb" }}</li>
      {{ end }}
      {{ end }}
    </ul>
    <h1>&#36;&#062; proj -done</h1>
    <ul class="thumbs">
      {{ range .Data.Pages.ByDate.Reverse }}
      {{ if eq .Params.progress 100 }}
      <li>{{ .Render "thumb" }}</li>
      {{ end }}
      {{ end }}
    </ul>
    {{ partial "foot.html" . }}
  </body>
